{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donken Global</title>
</head>
<body>

<!--<div class="banner_bg_main">-->
<!--    <div class="container">-->
<!--            <div class="header_section_top">-->
<!--               <div class="row">-->
<!--                  <div class="col-sm-12">-->
<!--                     <div class="custom_menu">-->
<!--                        <ul>-->
<!--                           <li><a href="#">Best Sellers</a></li>-->
<!--                           <li><a href="#">Gift Ideas</a></li>-->
<!--                           <li><a href="#">New Releases</a></li>-->
<!--                           <li><a href="#">Today's Deals</a></li>-->
<!--                           <li><a href="#">Customer Service</a></li>-->
<!--                        </ul>-->
<!--                     </div>-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
<!--         </div>-->

<!--<link rel="stylesheet" href="{% static 'css/background.css' %}">-->


</body>
</html>